#leaderboard-title {
    padding-top: 20px;
    text-align: center;
}

#button-container {
    margin-left: 9vw;
    margin-right: 9vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table, th, td {
    border: 2px solid black;
    padding: 5px;
}

#leaderboards {
    display: grid;
    place-items: center;
}

table {
    width: 80vw;
    margin-bottom: 15px;
}

th {
    text-align: center;
    background-color: lightgreen;
}

.rankImg {
    width: 4vw;
    height: auto;
}

#btn-individual.btn {
    margin: 15px;
}

#btn-team.btn {
    margin: 15px;
}

#leaderboards tbody {
    background-color: white;
}