@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

 body {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
 }

 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
* {
    font-family: 'Dekko', cursive;
}

#logoImg {
    width: 50vw;
    height: auto;
}

.main-contents {
    height: auto;
}

#signup-form.pb-5 {
    padding-bottom: 0 !important;
}

#login-form.pb-5 {
    padding-bottom: 0 !important;
}

.col-12.col-md-8 {
    margin-bottom: 40px;
}

#footerBar {
    width: 100%;
    bottom: 0;
    background-color: rgb(218, 247, 166) !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;

}

#footerBar p {
    text-align: center;
}